doctype html
html
  head
    title Sample App
    link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css")
    link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css")
    link( rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link( rel="stylesheet" href="/black-tie/css/black-tie.css")
    script( src="https://use.typekit.net/mpg0xzr.js")
    script try{Typekit.load({ async: true });}catch(e){}
  body
    #root
    script(src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous")
    script(type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js')
    script(src='https://npmcdn.com/prismic.io@2.0.0/dist/prismic.io.min.js')
    script( src="/js/bundle.js")
