.Contact
  relative()
  size 100% auto
  overflow: hidden
  .Wrapper
    align(v)
    size 100% auto
    .Headline
      center(768px)
      text-align: center
      font-family: headFont
      h2
        h2()
        font-weight: 400
        font-size: 33px
        color grey
        letter-spacing: 3px
        +below(767px)
          margin 25px auto
          font-size: 22px
          font-weight: 400
    .Subheadline
      center(768px)
      text-align: center
      font-family: mainFont
      color black
      h3
        h3()
        font-size: 38px
        font-weight: 500
        +below(767px)
          font-size: 25px
          margin 0px auto 0px
    .Paragraph
      center(768px)
      text-align: center
      padding 0px 40px
      margin auto
      color black
      h1
        h1()
      h2
        h2()
      h3
        h3()
      h4
        h4()
      h5
        h5()
      h6
        h6()
      p
        normal()
        font-size: 19px
        margin 20px auto
        line-height: 30px
        font-size: 19px
        +below(767px)
          font-size: 15px
          margin 10px auto
          line-height: 20px
      strong
        font-weight: 600
      em
        font-style: italic
    .SocialMedia
      center(768px)
      text-align: center
      +below(767px)
        margin 30px auto
      +above(768px)
        margin 50px auto
      .Cell
        +below(767px)
          column(1)
        +above(768px)
          column(1/3)
        a
          display: block
          relative()
          size 100% 60px
          &:hover
          &:focus
            i
            .text
              color black
          i
            color grey
            font-size: 20px
            padding 15px 0px
            +below(767px)
              padding 0px 0px 15px

          .text
            color grey
            normal()
            font-family: otherFont
            font-size: 19px
            line-height: 25px

      .Email
        +below(767px)
          column(1)
        +above(768px)
          column(1/3)
        a
          display: block
          relative()
          size 100% 60px
          +below(767px)
            margin 30px auto
          &:hover
          &:focus
            i
            .text
              color black
          i
            color grey
            font-size: 20px
            padding 15px 0px
            +below(767px)
              padding 0px 0px 15px

          .text
            color grey
            normal()
            font-family: otherFont
            font-size: 19px
            line-height: 25px

      .Address
        +below(767px)
          column(1)
        +above(768px)
          column(1/3)
        a
          display: block
          relative()
          size 100% 100px
          &:hover
          &:focus
            i
            .text
              color black
          i
            color grey
            font-size: 20px
            padding 15px 0px
            +below(767px)
              padding 0px 0px 15px

          .text
            color grey
            normal()
            font-family: otherFont
            font-size: 19px
            line-height: 25px
