.Featured
  +below(767px)
    size 100% 700px
  +above(768px)
    size 100% 875px
  overflow: hidden
  .owl-theme .owl-controls
    margin 25px auto
    .owl-page
      &.active
        span
          background red
      span
        background black
        opacity: 1
  .Mobile
    relative()
    size 100% 100%
    .Wrapper
      align(b)
      center()
      size 100% auto
      text-align: center
      .Headline
        relative()
        font-family: headFont
        color black
        h2
          h2()
          margin 25px auto
          font-size: 22px
          font-weight: 400
      .Search
        font-family: headFont
        a
          display: block
          font-size: 14px
          margin 25px auto
          size 180px auto
          padding 10px 15px
          color grey
          border 1px solid grey
          &:hover
          &:focus
            color black
            border 1px solid black
      .Properties
        relative()
        size 100% 375px
        .Property
          display: block
          padding 0px
          margin auto
          .Pic
            display: block
            size 440px 285px
            max-width: 100%
            margin auto
          .Address
            display: block
            size 440px auto
            max-width: 100%
            margin auto
            text-align: center
            color black
            font-size 14px
            font-weight: 600
            padding 15px 20px
            font-family: headFont
          .Price
            display: block
            size 440px auto
            max-width: 100%
            margin auto
            text-align: center
            color black
            font-size 14px
            font-weight: 600
            padding 0px 20px
            letter-spacing: 1px
            font-family: headFont


  .Tablet
    relative()
    size 100% 100%
    .Wrapper
      align(b)
      center()
      size 100% auto
      text-align: center
      .Headline
        relative()
        size 100% 100px
        font-family: headFont
        h2
          align(b)
          h2()
          margin auto
          font-weight: 400
        a
          align(v)
          right 25px
          border 1px solid grey
          padding 10px 15px
          color grey
          &:hover
          &:focus
            color black
            border 1px solid black
      .Properties
        relative()
        size 100% 375px
        .Property
          display: block
          padding 0px 12.5px
          margin auto
          .Pic
            display: block
            size 440px 285px
            max-width: 100%
            margin auto
          .Address
            display: block
            size 440px auto
            max-width: 100%
            margin auto
            text-align: left
            color black
            font-size 15px
            font-weight: 600
            padding 15px 0px
            letter-spacing: 1px
            font-family: headFont
          .Price
            display: block
            size 440px auto
            max-width: 100%
            margin auto
            text-align: left
            color black
            font-size 15px
            font-weight: 600
            padding 0px 0px
            letter-spacing: 1px
            font-family: headFont


  .Desktop
    relative()
    size 100% 100%
    .Wrapper
      align(b)
      center()
      size 100% auto
      text-align: center
      .Headline
        relative()
        size 100% 100px
        font-family: headFont
        margin 0px auto 50px
        h2
          align(b)
          h2()
          margin auto
          font-weight: 400
          font-size: 33px
          color grey
          letter-spacing: 3px
        a
          align(v)
          right 25px
          border 1px solid grey
          padding 10px 15px
          color grey
          &:hover
          &:focus
            color black
            border 1px solid black
      .Properties
        relative()
        size 100% 375px
        .Property
          display: block
          padding 0px 12.5px
          margin auto
          hover-fade 0.75
          .Pic
            display: block
            size 440px 285px
            max-width: 100%
            margin auto
          .Address
            display: block
            size 440px auto
            max-width: 100%
            margin auto
            text-align: left
            color black
            font-size 15px
            font-weight: 600
            padding 15px 0px
            letter-spacing: 1px
            font-family: headFont
          .Price
            display: block
            size 440px auto
            max-width: 100%
            margin auto
            text-align: left
            color black
            font-size 15px
            font-weight: 600
            padding 0px 0px
            letter-spacing: 1px
            font-family: headFont
      .Controls
        i
          font-size: 10px
          margin 20px auto 0px
