.Foot
  background-color: footColor
  .Mobile
    center()
    relative()
    text-align: center
    .Copyright
      margin 40px auto 20px
      size 100% auto
      font-family: otherFont
      font-size: 13px
      a
        color red
        hover-color black true
    .SocialMedia
      a
        margin auto 15px
        &:hover
        &:focus
          i
            color black
        i
          padding 5px
          font-size: 16px
          color red
    .Information
      margin 20px auto
      size 100% auto
      font-family: otherFont
      font-size: 13px
      a
        color red
        hover-color black true
    .Developer
      margin 20px auto 40px
      size 100% auto
      font-family: otherFont
      font-size: 13px
      a
        color red
        hover-color black true


  .Tablet
    center()
    relative()
    height 50px
    .Copyright
      align(v)
      font-family: otherFont
      left 20px
      font-size 13px
      color black
      a
        color red
        hover-color black true
    .SocialMedia
      align(b)
      a
        margin auto 10px
        &:hover
        &:focus
          i
            color black
        i
          font-size: 16px
          padding 5px
          color red
    .Developer
      align(v)
      right 20px
      font-family: otherFont
      font-size 13px
      color black
      a
        color red
        hover-color black true
