.Jumbotron
  -webkit-clip-path: polygon(100% 0, 100% 93%, 50% 100%, 0 93%, 0 0);
  clip-path: polygon(100% 0, 100% 93%, 50% 100%, 0 93%, 0 0);
  overflow: hidden
  .Tablet
    size 100% 875px
    +below(767px)
      size 100% 480px
    .BGPic
      display: block
      size 100% 875px
      +below(767px)
        size 100% 480px
      .BGTint
        background-color: JumbotronTint
        text-align: center
        size 100% 100%
        relative()
        .Headline
          align(v)
          size 100% auto
          color white
          font-family: headFont
          padding 0px 50px
          h1
            h1()
            line-height: 70px
            font-size 60px
            font-weight: 400
            +below(767px)
              font-size 35px
              line-height: 40px
          h3
            h3()
            font-size 20px
            +below(767px)
              font-size 14px
              line-height: 20px
        .ScrollDown
          absolute bottom 50px
          size 100% auto
          i
            cursor: pointer
            font-size 30px
            color white
            hover-color red true


  .Desktop
    relative()
    overflow: hidden
    size 100% 875px
    .BGVid
      align(b)
      +below(1557.6px)
        size auto 100%
      +above(1557.7px)
        size 100% auto
    .BGTint
      background-color: JumbotronTint
      font-family: headFont
      text-align: center
      size 100% 100%
      relative()
      .Headline
        align(b)
        // size 100% auto
        color white
        h1
          h1()
          font-size: 75px
          line-height: 85px
          margin: auto
          font-weight: 400
        h3
          h3()
          font-size: 20px
      .ScrollDown
        absolute bottom 100px
        size 100% auto
        i
          cursor: pointer
          font-size 40px
          color white
          hover-color red true
