.Nav
  fixed top 0px left 0px
  size 100% 50px
  background-color: NavBG
  text-align: center
  z-index 10000
  .Brand
    align(b)
    a
      display: block
      cursor: pointer
      font-size 30px
      letter-spacing: 1.5px
      font-family: headFont
      color white
      hover-color black true
      +below(767px)
        font-size 25px
  .MenuIcon
    align(v)
    right 20px
    i
      cursor: pointer
      color white
      hover-color black true
      font-size 30px
      +below(767px)
        font-size 25px
