@import "jeet"
@import "axis"
@import "rupture"

border-box-html()
global-reset()
normalize-css()
print-styles()

@import "./variables"

@import "./Components/Nav"
@import "./Components/Menu"
@import "./Components/Jumbotron"
@import "./Components/Featured"
@import "./Components/Profile"
@import "./Components/Contact"
@import "./Components/Foot"

html body #root
  // debug()
  font-family: mainFont
  a
    text-decoration: none
