// FONTS
headFont = 'trajan-pro-3'
mainFont = 'chaparral-pro-display'
otherFont = 'lft-etica-condensed'

// COlors
black = #525252
grey = #787878
red = #d2133f

//Nav
NavBG = rgba(black, 0.50)

//Jumbotron
JumbotronTint = rgba(black, 0.5)

 // footColor
footColor = #f3f3f3
